@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}




.triHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


.Landing{
  overflow-y: hidden;
  display: flex;
  justify-content: space-evenly;
  
}


.HeadLand{
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;


}


.LandingImg1{  
  z-index: -10;
  width: 33.34%;
  height: 100vh;
  background-image: url(../Images/Ottawa.jpg);
  background-attachment: fixed;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.LandingImg2{
  z-index: -10;
  width: 33.34%;
  height: 100vh;
  background-image: url(../Images/Toronto.jpg);
  background-attachment: fixed;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.LandingImg3{
  z-index: -10;
  width: 33.34%;
  height: 100vh;
  background-image: url(../Images/Vancover.jpg);
  background-attachment: fixed;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}



.About{
  text-align: center;
  margin: 10% auto;
  width: 70%;

}
.About p{
  line-height: 35px;
  font-size: 20px;
  text-align: center;

}
.img_1 svg{
  width: 50px;
  height: 50px;
}


#service{
  text-align: center;
}

.grid{
  display: flex;
  width: 100%;
  justify-content: center;
}

.grid_1{
  
  width: 20%;
  margin: 20px;
  text-align: center;
}
.grid_1 p{
  margin-top: 10px;

}

footer {
  width: 100%;
  height: 30vh;

  margin-top: 5%;
  background-color: #24252a;
}


footer svg{
  
  fill: white;

  width: 50px;
  height: 50px;
}